@model IEnumerable<ProsjektoppgaveITE1811Gruppe7.Models.Entities.Order>

    @{
        ViewData["Title"] = "index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h3>My orders</h3>

    <p>
        <a asp-action="ListOfInvoices">Invoices</a>
    </p>
    <br>

    <div>
        <a asp-action="Wallet">Wallet</a>
    </div>
    <br>

    <div class="card" style="margin-bottom: 1rem;">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.DateCreated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateOfDeadline)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.OrderName)
                        </th>
                        <th>
                            Frilanser
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfDeadline.Day).@Html.DisplayFor(modelItem => item.DateOfDeadline.Month).@Html.DisplayFor(modelItem => item.DateOfDeadline.Year)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderName)
                            </td>
                            @if (item.Frilanser == null)
                            {
                                <td>
                                    Not assigned
                                </td>
                            }
                            else
                            {
                                <td>
                                    @Html.DisplayFor(modelItem => item.Frilanser.UserName)

                                </td>
                            }
                            <td>
                                @switch (item.Status)
                                {
                                    case 0:
                                        <div>Order created</div>
                                        break;
                                    case 1:
                                        <div>Solution uploaded</div>
                                        break;
                                    case 2:
                                        <div>Approved by Senior Developer</div>
                                        break;
                                    case 4:
                                        <div>Approved by Client</div>
                                        break;
                                    default:
                                        <div>Order created</div>
                                        break;
                                }

                            </td>
                            <td>

                                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                                <a asp-action="ChatWithFrilanser" asp-route-id="@item.OrderId">Chat with frilanser</a>
                                <span id="newmessage_@item.OrderId" class="badge badge-pill badge-danger d-none">New</span>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

        });


        var connection = new signalR.HubConnectionBuilder().withUrl("/ChatHub").build();

        connection.on("UpdateMessages", function (dateCreated, message, messageId, orderId, userName) {
            $('#newmessage_' + orderId).removeClass("d-none");

        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

    </script>

    <div class="row justify-content-end">
        <div class="col-2">
            <a asp-action="Create" type="button" class="btn btn-primary">Create new order</a>
        </div>
    </div>
