@model ProsjektoppgaveITE1811Gruppe7.Models.ViewModels.UploadSolutionViewModel


@{
    ViewData["Title"] = "UploadSolution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>Order details</h3>

<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadSolution" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="OrderId" type="hidden" class="form-control" />
            </div>
            <div class="card" style="width: 32rem; margin-bottom: 1rem;">
                <div class="card-body">
                    <label asp-for="OrderName" class="card-title"></label>:
                    @Html.DisplayFor(model => model.OrderName)<br>
                    <label asp-for="ClientName" class="card-title"></label>:
                    @Html.DisplayFor(model => model.ClientName)<br>
                    <label asp-for="DateOfDeadline" class="card-title"></label>:
                    @Html.DisplayFor(model => model.DateOfDeadline.Day).@Html.DisplayFor(model => model.DateOfDeadline.Month).@Html.DisplayFor(model => model.DateOfDeadline.Year)

                </div>
            </div>
            <h5><label asp-for="OrderTask" class="control-label"></label>:</h5>
            <div class="card" style="width: 32rem; margin-bottom: 1rem;">
                <div class="card-body">

                    @Html.DisplayFor(model => model.OrderTask)
                </div>
            </div>
            <h5>Upload your solution:</h5>
            <div class="card" style="width: 32rem; margin-bottom: 1rem;">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            <input asp-for="uploadedFile" id="files" type="file" />
                            <input style="margin-left: 6.7rem;" type="submit" value="Send" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <h5>Refuse an order :</h5>
        <div class="card" style="width: 32rem; margin-bottom: 1rem;">
            <div class="card-body">

                <div class="row">
                    <div class="col">
                        <a asp-action="RefuseOrder" asp-route-id="@Model.OrderId">"Refuse"</a>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to my orders</a>
</div>




